
.margin2Porc{
    margin: 2%;
}

.rosaAlert{
    background-color: #f2ccd1;
    color: white;
}

.verMas{
    background-color: #9fd7a9;
}

.border_gray{
    border: none;
    border-collapse: inherit;
    border: 1px solid gray;
}

.bg-transparente{
    background-color: transparent!important;
}

.font-08{
    font-size: 0.8rem;
}

.font-09{
    font-size: 0.9rem;
}


